# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Django
# ===============================
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Django secrets / env
.env

# ===============================
# Virtual Environment
# ===============================
venv/
ENV/
env/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Test / Coverage
# ===============================
.coverage
htmlcov/
.pytest_cache/

# ===============================
# Editor / OS
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db
